<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mage.magemata">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        tools:replace="android:icon"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".circle.AddCircleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".circle.card.AddCircle_Item_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".circle.card.Circle_Item_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".circle.card.AddCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".circle.card.CardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".circle.MyCircleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".user.ChangeUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".publish.usedgood.UsedGoodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".publish.usedgood.GoodInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".publish.usedgood.AddGoodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".util.CheckVersionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".publish.delivery.DeliveryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".publish.delivery.ExpressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".publish.delivery.rice.RiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".publish.delivery.RiceConfirmActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>